[user]
	name = Owen Nelson
	email = onelson@gmail.com
[color]
	ui = true
[push]
	default = simple
[alias]
        map = log --graph --full-history --all --color --decorate
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
